<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/loginsign.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="inner-card" id="cards">
                <div class="card-front">
                  <h2>LOGIN</h2>
                  <form method="post" action="">
                      <input name="username" type="text" class="input-box" placeholder="Username" required>
                      <input name="password" type="password" class="input-box" placeholder="password" required>             
                      <button type="submit" class="submit-button">Submit</button>
                      <input type="checkbox"><span>Remember Me</span>
                   
                    </form>
                    <button type="button" class="btn"  onclick="window.location.href ='/signup'" >Sign UP</button>
                    <a href=""> Forgot Password</a>
                </div>
               
                     
                      
                  
            </div>
        </div>
    </div>
<script>
    var cards=document.getElementsById("cards");

    function openSIGNUP()  {
        cards.style.transform ="rotateY(-180deg)";
    }
    function openLOGIN()  {
        cards.style.transform ="rotateY(0deg)";
    }
</script>
    
</body>
</html>