<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/markets.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Market</h1>
        <table class="table table-bordered table-hover" id="cryptoTable">
            <thead class="thead-dark" id="cryptoHead">

            </thead>
            <tbody id="cryptoList">
                <!-- Crypto rates will be dynamically added here -->
            </tbody>
        </table>
    </div>
    <script src="/js/markets.js"></script>
</body>

</html>