<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/markets.css">
</head>
<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
   

    background-color: #f0f0f0;
     background: url("/image/1 (15).jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .table {
    background-color: rgba(255, 255, 255, 0.9); /* Adjusted table background */
  }
  .mt-4,
  .mb-4 {
    color: white; /* Set heading text color to white */
  }
 
  </style>

<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Market</h1>
        <table class="table table-bordered table-hover" id="cryptoTable">
            <thead class="thead-dark" id="cryptoHead">

            </thead>
            <tbody id="cryptoList">
                <!-- Crypto rates will be dynamically added here -->
            </tbody>
        </table>
    </div>
    <script src="/js/markets.js"></script>
</body>

</html>