<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<table>
    <thead>
        <th>Name</th>
        <th>Rate</th>
    </thead>
    {{#each coin}}
    <tr>
        <td>
            {{@key}}
        </td>
        <td>
            {{this.usd}}
        </td>
        <td>
            {{this.eur}}
        </td>
    </tr>
    {{else}}
    Network error
    {{/each}}
</table>