<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sign.css">
</head>

<body>
    {{#if error}}
    <script>
        setTimeout(()=>alert("{{ error }}"),100)
    </script>
    {{/if}}
    <div class="container">
        <div class="card">
            <div class="inner-card" id="cards">

                <div class="card-back">
                    <h2>SIGNUP</h2>
                    <form method="post">
                        <input type="text" name="username" class="input-box" placeholder="Name" required>
                        <input type="email" name="email" class="input-box" placeholder="Email Id" required>
                        <input type="password" name="password" class="input-box" placeholder="password" required>
                        <button type="submit" class="submit-button">Submit</button>
                        <input type="checkbox"><span>Remember me </span>

                    </form>
                    <button type="button" class="btn" onclick="window.location.href ='page1.html'">Login</button>
                    <a href=""> Forgot Password</a>
                </div>



            </div>
        </div>
    </div>
    <script>
        var cards = document.getElementsById("cards");

        function openSIGNUP() {
            cards.style.transform = "rotateY(-180deg)";
        }
        function openLOGIN() {
            cards.style.transform = "rotateY(0deg)";
        }
    </script>

</body>

</html>