<!DOCTYPE html>
<html>

<head>
    <title>Transaction Form</title>
</head>

<body>
    <h1>Transaction Form</h1>
    <form action="/transaction/submit" method="post">
        <label for="coinID">Coin ID:</label>
        <input value="bitcoin" type="text" id="coinID" name="coinID" required><br>

        <label for="quantity">Quantity:</label>
        <input value="1" type="number" id="quantity" name="quantity" min="1" required><br>

        <label for="rate">Rate:</label>
        <input value="50" type="number" id="rate" name="rate" required><br>

        <label for="limitRate">Limit Rate:</label>
        <input value="50" type="number" id="limitRate" name="limitRate"><br>

        <label for="buyOrSell">Buy/Sell:</label>
        <select id="buyOrSell" name="buyOrSell" required>
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
        </select><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>